[Desktop Entry]
Categories=AudioVideo;Recorder;
Exec=obs-dstn
Icon=com.obsproject.Studio
StartupNotify=true
StartupWMClass=obs
Terminal=false
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
Name=OBS Studio
GenericName=OBS
Comment=Free and Open Source Streaming/Recording Software